.statusBox {
    margin-top: 7px; 
    margin-bottom: 7px; 
    margin-left: 2px; 
    background-color:#FFFFFF; 

    width: 500px;
    height: 300px;
    border-radius: 10px;

    background-color: /*rgba(22, 119, 216, 0.01)*/ #FFFFFF;

    outline: solid 2px;
    outline-color:#16D8A3;
    transition: outline-color 0.2s ease;

    white-space: nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
}

.statusBox::-webkit-scrollbar {
    display: none;
}

.statusBox:hover {
    outline-color: rgb(22, 119, 216);
}

.userDes {
    color: #000000; 
    margin-left:15px;
    margin-right:15px;
}

.pImage {
    margin-left:15px;
    margin-bottom:35px;
    border-radius: 50%;
    width:115px;
    height:115px;
}