.statusBox {
    display: flex;
    max-width: 590px;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    overflow: hidden;

    margin-top: 7px; 
    margin-bottom: 7px; 
    margin-left: 2px; 

    outline: solid 1px;
    outline-color:#16D8A3;
    transition: outline-color 0.2s ease;
}

.statusBox::-webkit-scrollbar {
    display: none;
}

.statusBox:hover {
    outline-color: rgb(22, 119, 216);
}

.userDes {
    color: #000000; 
}

.pImage {
    aspect-ratio: 1 / 1;
    margin-left: -7px; 
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    width:56px;
    height:56px;
}

.disc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userDesBox {
    width: 320px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.name {
    width: 150px;
}

.hide-text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

div {
    display:block;
}

.follow {
    color: #555555;
}

.userstats {
    position: absolute;
    overflow: hidden;
    inset: 0px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    transition: border 0.3s ease 0s;
    z-index: -2;
    content: "";
}
  
.css-1g6ghgw:hover::before {
    content: "이미지 제거";
    background-color: rgba(0,0,0,0.5);
    color: white;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}
  
